.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 50px;
    height: 90px;
    width: 200px;
    background-color: rgb(209, 201, 201);
}

.text {
    height: 30px;
    width: 100px;
    border: 1px solid rgb(236, 241, 236);
}
.focused { 
   outline: 1px solid rgb(4, 236, 16); 
} 

.invalid {
    outline: 1px solid rgb(250, 3, 3); 
}